<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			Cbnetwork
		</title>
		<!-- <link href="css/bootstrap.min.css" rel="stylesheet"/> -->
		<!-- <link href="css/style.css" rel="stylesheet"/> -->
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
			</script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<div class="container wh-bg pd_12">
				<div class="col-lg-12 no-pd no-mg bdr-rds">
					<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
									<span class="sr-only">
										Toggle navigation
									</span>
									<span class="icon-bar">
									</span>
									<span class="icon-bar">
									</span>
									<span class="icon-bar">
									</span>
								</button>
								<a class="navbar-brand" href="#">LOGO</a>
							</div>
							<div class="navbar-collapse collapse" id="navbar-collapsible">
								<ul class="nav navbar-nav navbar-right lo-reg">
									<li id="login_modal">
									 Login 
									</li>
                                    <li>&nbsp;&nbsp;</li>
									<li id="sign_up_modal">
								 Sign UP 
									</li>
								</ul>
                                
                                                         
								<form class="navbar-form search-form">
									<div class="form-group dp-ln">
										<div class="input-group">
											<div class="input-group-btn">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
													<span class="glyphicon glyphicon-chevron-down">
													</span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a href="#">Category 1</a>
													</li>
													<li>
														<a href="#">Category 2</a>
													</li>
													<li>
														<a href="#">Category 3</a>
													</li>
													<li>
														<a href="#">Category 4</a>
													</li>
													<li>
														<a href="#">Category 5</a>
													</li>
												</ul>
											</div>
											<input class="form-control" placeholder="What are searching for?" type="text"/>
											<input class="form-control" placeholder="Where you are searching for?" type="text"/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-search">
												</span>
											</span>
										</div>
									</div>
								</form>
							</div>
						</div>
					</nav>
				</div>
				<!--header sec-->
				<br />
				<br />
                <div class="hidden-lg"> </div>
			</div>
			<nav class="navbar  navbar-top  nav-bg" role="navigation" style="background: url(../assets/img/nav_bg.png) repeat-x;">
				<div class="container">
					<div class="mg_lft">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible1">
								<span class="sr-only">
									Toggle navigation
								</span>
								<span class="icon-bar">
								</span>
								<span class="icon-bar">
								</span>
								<span class="icon-bar">
								</span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="navbar-collapsible1">
							<ul class="nav navbar-nav navbar-left">
								<li>
									<a href="" class="active">Home</a>
								</li>
								<li>
									<a href="">Services</a>
								</li>
								<li>
									<a href="">Our  Deals</a>
								</li>
								<li>
									<a href="">Monthly deals</a>
								</li>
								<li>
									<a href="">Monthly deals</a>
								</li>
								<li>
									<a href="">Monthly deals</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<div class="container">
				<div class="row">
  

					<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
						<img class="thumbnail img-responsive" src="http://placehold.it/728x100/" alt="Slide1"/>
						<div class="col-lg-6 no-mg pd_lft_0" style="overflow: hidden;">
							<div class="thumbnail text-center bg-thmb">
								Deals
							</div>
							<div id="myCarousel" class="carousel slide  ">
								<div class="carousel-inner ">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
									<figure class="item ">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								Deals
							</div>
							<div id="myCarousel2" class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
									<figure class="item ">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								Deals
							</div>
							<div id="myCarousel3" class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
									<figure class="item ">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								Deals
							</div>
							<div id="myCarousel4" class="carousel slide">
								<!-- <ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
								</ol>-->
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
									<figure class="item ">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
					</div>
					<!--slider-->
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 bdr-side" style="overflow: hidden;">
						<br />
						<div class="thumbnail text-center bg-thmb">
							Featured Video
						</div>
						<div class="flex-video widescreen">
							<iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0">
							</iframe>
						</div>
						<div class="thumbnail text-center bg-thmb">
							Coupons
						</div>
						<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
						<div class="thumbnail text-center bg-thmb">
							Coupons
						</div>
						<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
					</div>
				</div>
				<!--row end-->
			</div>
			<!--container end-->
			<div class="container pdrt_0">
				<div class="row pdrt_0">
				 
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
				 
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					 
					<div class="col-lg-4 "> 
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
					<div class="col-lg-4 ">
                    <div class="thumbnail text-center bg-thmb">
							Text Here
						</div>
						<div class="carousel slide">
							<div class="carousel-inner">
								<figure class="item active">
									<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
								</figure>
							</div>
						</div>
						<!-- End Carousel -->
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								SALE
							</div>
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								SALE
							</div>
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								SALE
							</div>
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="thumbnail text-center bg-thmb">
								SALE
							</div>
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="col-lg-6 no-mg pd_lft_0">
							<div class="carousel slide">
								<div class="carousel-inner">
									<figure class="item active">
										<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
					</div>
					<!--slider-->
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12  bdr-side">
						<br />
						<div class="thumbnail text-center bg-thmb">
							Flyer
						</div>
						<img class="thumbnail img-responsive" src="http://placehold.it/351x570/" alt="Slide1"/>
					</div>
				</div>
				<!--row end-->
			</div>
			<!--container end-->
		</div>
		<!--wrapper-->
          <!-- ;ogin Modal -->                              
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
       
      <div class="modal-body">
 
<h1 class="text-center login-title">Log in to Continue</h1>
<div class="account-wall">
<form class="form-signin">
<input type="text" class="form-control" placeholder="Email" required autofocus><br />
<input type="password" class="form-control" placeholder="Password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Sign in</button>
<label class="checkbox pull-left mg-lfts">
<input type="checkbox" value="remember-me">
Remember me
</label>
<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
</form>
</div>
<a href="#" class="text-center new-account">Create a new account </a>
 
 
       </div>
       
    </div>
  </div>
</div>
 <!-- ;ogin Modal -->  
  <!-- ;ogin Modal -->                              
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
 
<h1 class="text-center login-title">Sign Up to Continue</h1>
<div class="account-wall">
<form class="form-signin">
<input type="text" class="form-control" placeholder="Name" required /><br />
<input type="text" class="form-control" placeholder="Email" required /><br />
<input type="password" class="form-control" placeholder="Password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Sign Up</button>
 
<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
</form>
</div>
<a href="#" class="text-center new-account">Have an account Sign In</a>
 
 
       </div>
    </div>
  </div>
</div>
 <!-- ;ogin Modal -->  
        
		<div id="footer">
			<div class="container">
				<p class="text-muted">
					Footer Space
				</p>
			</div>
		</div>
		<ul class="nav pull-right scroll-top">
			<li>
				<a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
			</li>
		</ul>
		<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js">
		</script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
		</script>
		<script>
			/* activate scrollspy menu  for search and  menu bar*/
			$('body').scrollspy({
				target: '#navbar-collapsible',
				offset: 50
			});

			/* smooth scrolling sections */
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top - 50
						}, 1000);
						return false;
					}
				}
			});
		</script>
		<script>
			/* smooth scrolling for scroll to top */
			$('.scroll-top').click(function() {
				$('body,html').animate({
					scrollTop: 0
				}, 1000);
			})
		</script>
		<script>
			$('#myCarousel').carousel({
				interval: 3000
			});
			$('#myCarousel2').carousel({
				interval: 4050
			});
			$('#myCarousel3').carousel({
				interval: 5000
			});
			$('#myCarousel4').carousel({
				interval: 4500
			});
		</script>
	</body>

</html>