<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
				<img class="thumbnail img-responsive" src="http://placehold.it/728x100/" alt="Slide1"/>
				<div class="col-lg-6 no-mg pd_lft_0" style="overflow: hidden;">
					<div class="thumbnail text-center bg-thmb">
						Deals
					</div>
					<div id="myCarousel" class="carousel slide  ">
						<div class="carousel-inner ">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
							<figure class="item ">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						Deals
					</div>
					<div id="myCarousel2" class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
							<figure class="item ">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						Deals
					</div>
					<div id="myCarousel3" class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
							<figure class="item ">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						Deals
					</div>
					<div id="myCarousel4" class="carousel slide">
						<!-- <ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>-->
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
							<figure class="item ">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
			</div>
			<!--slider-->
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 bdr-side" style="overflow: hidden;">
				<br />
				<div class="thumbnail text-center bg-thmb">
					Featured Video
				</div>
				<div class="flex-video widescreen">
					<iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0">
					</iframe>
				</div>
				<div class="thumbnail text-center bg-thmb">
					Coupons
				</div>
				<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
				<div class="thumbnail text-center bg-thmb">
					Coupons
				</div>
				<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
			</div>
		</div>
		<!--row end-->
	</div>
	<!--container end-->
	<div class="container pdrt_0">
		<div class="row pdrt_0">
		 
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		 
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			 
			<div class="col-lg-4 "> 
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
			<div class="col-lg-4 ">
            <div class="thumbnail text-center bg-thmb">
					Text Here
				</div>
				<div class="carousel slide">
					<div class="carousel-inner">
						<figure class="item active">
							<img class="thumbnail" src="http://placehold.it/530x380/" alt="Slide1">
						</figure>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						SALE
					</div>
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						SALE
					</div>
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						SALE
					</div>
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="thumbnail text-center bg-thmb">
						SALE
					</div>
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
				<div class="col-lg-6 no-mg pd_lft_0">
					<div class="carousel slide">
						<div class="carousel-inner">
							<figure class="item active">
								<img class="thumbnail img-responsive" src="http://placehold.it/500x380/" alt="Slide1">
							</figure>
						</div>
					</div>
					<!-- End Carousel -->
				</div>
			</div>
			<!--slider-->
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12  bdr-side">
				<br />
				<div class="thumbnail text-center bg-thmb">
					Flyer
				</div>
				<img class="thumbnail img-responsive" src="http://placehold.it/351x570/" alt="Slide1"/>
			</div>
		</div>
		<!--row end-->
	</div>
	<!--container end-->
</div>
<!--wrapper-->
<%=render 'layouts/modal'%>
        
<div id="footer">
	<div class="container">
		<p class="text-muted">
			Footer Space
		</p>
	</div>
</div>
<ul class="nav pull-right scroll-top">
	<li>
		<a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
	</li>
</ul>
<script>
	/* activate scrollspy menu  for search and  menu bar*/
	$('body').scrollspy({
		target: '#navbar-collapsible',
		offset: 50
	});

	/* smooth scrolling sections */
	$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top - 50
				}, 1000);
				return false;
			}
		}
	});

	/* smooth scrolling for scroll to top */
	$('.scroll-top').click(function() {
		$('body,html').animate({
			scrollTop: 0
		}, 1000);
	})


	$('#myCarousel').carousel({
		interval: 3000
	});
	$('#myCarousel2').carousel({
		interval: 4050
	});
	$('#myCarousel3').carousel({
		interval: 5000
	});
	$('#myCarousel4').carousel({
		interval: 4500
	});

</script>		