<!-- ;ogin Modal -->                              
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
       
      <div class="modal-body">
 
<h1 class="text-center login-title">Log in to Continue</h1>
<div class="account-wall">
<form class="form-signin">
<input type="text" class="form-control" placeholder="Email" required autofocus><br />
<input type="password" class="form-control" placeholder="Password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Sign in</button>
<label class="checkbox pull-left mg-lfts">
<input type="checkbox" value="remember-me">
Remember me
</label>
<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
</form>
</div>
<a href="#" class="text-center new-account">Create a new account </a>
 
 
       </div>
       
    </div>
  </div>
</div>
 <!-- ;ogin Modal -->  
  <!-- ;ogin Modal -->                              
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
 
<h1 class="text-center login-title">Sign Up to Continue</h1>
<div class="account-wall">
<form class="form-signin">
<input type="text" class="form-control" placeholder="Name" required /><br />
<input type="text" class="form-control" placeholder="Email" required /><br />
<input type="password" class="form-control" placeholder="Password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Sign Up</button>
 
<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
</form>
</div>
<a href="#" class="text-center new-account">Have an account Sign In</a>
 
 
       </div>
    </div>
  </div>
</div>
 <!-- ;ogin Modal -->  